*{
  padding: 0px;
  margin: 0px;
}

body{
  background: #f7f9fb !important;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://w0.peakpx.com/wallpaper/769/549/HD-wallpaper-warhammer-battle-warhammer-40k-video-game-space-marine.jpg");
  background-size: cover;
}

.loginForm{
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-top: 10px;
  width: 300px;
  gap: 20px;
  background-color: #f7f9fb;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.inputBox{
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}

.inputFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.errorMessage{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: red;
}

.btn{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/*Post Section*/

.posts{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.content{
  flex: 3;
}

.mainBox{
  background-color: lightblue;
}

.postContent{
  display: inline-block;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.answer{
  margin-top: 10px;
  font-style: italic;
  font-size: 16px;
}

.category{
  font-weight: bold;
}

.test{
  height: 250px;
  width: 100%;
  justify-content: top;
}

#welcome{
  text-align: center;
}


/*Add items section*/
.addItem{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.content{
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editorContainer{
  height: 300px;
  overflow: scroll;
  border: 1px solid lightgray;
}

.editor{
  height: 100%;
  border: none;
  background-color: #f7f9fb !important;
}

.menu{
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item{
  border: 1px solid lightgrey;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cat{
  display: flex;
  align-items: center;
  gap: 2px;
  color: #0096FF;
  cursor: pointer;
}